body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  margin: 0;
  font-family: 'Sacramento', cursive;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: grey;
  width: 10%;
}
img {
  border-radius: 50%;
}
.coding-icon {
  width: 150px;
  height: 150px;
}
.tools-icon {
  width: 150px;
  height: 150px;
}
.pro {
  text-decoration: underline;
}
.Top-Containor{
  background-color: #d6e5fa;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  position:absolute;
  right: 300px;
  top: 50px
}

.bottom-cloud {
  position:absolute;
  left: 300px;
  bottom: 300px;
}

.middle-containor{
  top: 20px;
}
.bottom-Containor{

}
